# Dependencies
node_modules/
ui-mockup/node_modules/

# Production builds
dist/
ui-mockup/dist/
dist-ssr/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
